*{
    margin: 0;
}
body, html{
    background: #000000;
}
#header{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(240, 227, 227, 0.5), rgba(0, 0, 0, 0.5)), url("BG.png") no-repeat;
    background-size: cover;
    background-color: #000000;
}
.current{
    color: #000000;
}
header #hero h1 {
    text-align: center;
}
.text-lime {
    color: #000000;
}
#hero{
    margin-top: 50px;
}
#explore p{
    text-align: center;
    color: #fff;
    background-color: #000000;
    border: 3px solid #000000;
    border-radius: 30px;
    width: 150px;
    font-size: 18px;
    height: 40px;
    margin-top: 50px;
}
#join p{
    text-align: center;
    color: #fff;
    background-color: #000000;
    border: 3px solid #000000;
    border-radius: 30px;
    width: 150px;
    font-size: 18px;
    height: 40px;
    margin-top: 50px;
}

#wow{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: auto;
    text-decoration: none;
}
#wow a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: auto;
    text-decoration: none;
    color: #fff;
}

.icons-home{
    font-size: 1.8rem;
    color: black; 
} 